html {
  background-color: #C9D7DD;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #FFF3CF;
  margin: 10% auto;
  padding: 20px;
  border: 10px solid #C9D7DD;
  width: 80%;
}

.close {
  color: #000;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

#page-content {
  margin: 20px;
  padding: 5px;
  background-color: #FFF3CF;
}


input {
  margin: 1% 1% 1% 1%;
}

button {
  font-size: 18px;
  margin-bottom: 10px;
}

table {
  font-size: 20px;
  
}

h2 {
  font-size: 32px;
}

#password {
  text-align: right;
}


th {
  border: 2px solid #888;
}

td{
  padding: 1px 20px 1px 20px;
  border: 2px solid #888;
}

